@charset "utf-8";
@import url(./common.css);
/* 메인본문시작 */
/* 슬로건 */
#slogan { position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 700px; 
    margin-top: 100px;
    text-align: center; 
    background: url(../images/bgSlogan.jpg) no-repeat center / cover; }
#slogan::before { content: ""; 
          position: absolute; top: 0; left: 0;                
          display: block;
          width: 100%; height: 100%;
          opacity: 0.5;
          background: #000; }
#slogan p { position: relative; margin-bottom: 50px; 
      font-size: 70px; text-transform: uppercase;
      text-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
      color: #fff; }
#slogan a { position: relative; display: block; padding: 10px 30px; 
      border: 1px solid #fff; 
      border-radius: 0 20px;
      color: #fff; transition: 1s; }
#slogan a:hover { background: rgba(255, 0, 0, 0.7); }
/* 웹솔루션 */
#solutionWrap { background: #ebebeb; }
#solution { display: flex; width: 1200px; margin: 0 auto;  }
#solution .solution { width: 100%; padding: 150px 20px 30px;
                background: url(../images/bg_solution.png) no-repeat; }
#solution .hosting { background-position-y: 40px; }            
#solution .security { background-position: center 40px; }            
#solution .payment { background-position: right 40px; }            
#solution .solution a h3 { margin-bottom: 10px; color: #4c4e64; }
#solution .solution a p { color: #333; }
/* costomerBoard */
#customerBoard { display: flex; justify-content: space-evenly;
           width: 1200px; margin: 60px auto; }
/* 공통 */
#customerBoard > section { position: relative; width: 45%; }
#customerBoard h3 { padding: 0 0 20px 10px;
              border-bottom: 1px solid #000; 
              font-weight: normal; font-size: 1.75em; }
#customerBoard .more { 
  position: absolute; top: 10px; right: 10px;
  width: 30px; height: 30px;
  text-indent: 100%; white-space: nowrap; overflow: hidden; 
  transition: 0.5s; }
#customerBoard .more::before { 
  content: "";
  position: absolute; top: 50%; left: 0;
  width: 100%;
  border-top: 1px solid #000;
  }
#customerBoard .more::after {
  content: "";
  position: absolute; top: 0; left: 50%;
  height: 100%;
  border-left: 1px solid #000;
  }
#customerBoard .more:hover { transform: rotate(45deg); }
/* security news */
#securityNews h3 span { color: #ff4e18; }
#securityNews dl { padding: 20px; }
#securityNews dl dt { margin-bottom: 15px; font-size: 20px; color: #333; }
#securityNews dl dd { color: #6e6e6e; }

/* news & notice */
#newsNotice ul li { padding: 15px 20px; border-bottom: 1px solid #b8b8b8;  }
#newsNotice ul li a { display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #333; }
#newsNotice ul li span { font-size: 14px; color: #7d7d7d; }