@charset "utf-8";
@import url(./common.css);
/* 서브공통스타일 */
#container { padding-bottom: 20px; }
#subHeader { display: flex; justify-content: center; align-items: center;
            position: relative;
            height: 400px; margin-top: 100px; 
            background: no-repeat center / cover; 
            /* background-repeat: no-repeat;
            background-position: center;
            background-size: cover; */ }
#subHeader::before { content: ""; position: absolute; top: 0; left: 0; 
                    width: 100%; height: 100%;
                    background: rgba(0, 0, 0, 0.3); }
#subHeader h2 { position: relative; color: #fff; 
                font-size: 50px; text-transform: uppercase; }
/* 서브타이틀이미지 개별 */
#subHeader.subHeaderCompany { background-image: url(../images/bgSubCompany.jpg); }
#subHeader.subHeaderCustomer { background-image: url(../images/bgSubCustomer.jpg); }
/* 서브네비 snb */
#snb { border-bottom: 1px solid #ccc; }
#snb ul { display: flex; justify-content: center; }
#snb ul li { width: 300px; }
#snb ul li a { display: block; height: 53px;
               border-left: 1px solid #ccc;
               line-height: 53px;
               text-align: center; 
               text-transform: uppercase;  
               background: url(../images/snbBullet.png) no-repeat right 10px center; 
               color: #333; }
#snb ul li:last-child a { border-right: 1px solid #ccc; }
#snb ul li.on a { border-bottom: 2px solid #1b8db8; }
#snb ul li a:hover { border-bottom: 2px solid #1b8db8; }
/* 서브페이지 본문 공통 */
#subContent { width: 1200px; margin: 0 auto; }
#subContent h3 { margin: 45px 0 40px; color: #333; 
                /* font-weight: normal; 
                font-size: 45px; 
                font-family: 'Times New Roman';  */
                font: 45px 'Times New Roman', serif;
            }
/* 개별페이지 시작*/
/* 서브콘텐츠 - company_welcome */
.subContentWelcome figure { float: right; margin-left: 14px; text-align: center; }
.subContentWelcome p { margin-bottom: 18px; }
/* 서브콘텐츠 - customer_notice */
/* #notice { text-align: center; } */
#notice th { height: 30px; color: #fff;
    background: linear-gradient(#67afeb,#3c93ef 49%, #338bef 50%, #2871e0);
    font-weight: normal; text-transform: capitalize; 
}
#notice .no { width: 70px; border-radius: 5px 0 0 5px; }
#notice .title { width: 804px; }
#notice .write { width: 120px; }
#notice .date { width: 116px; }
#notice .read { width: 90px; border-radius: 0 5px 5px 0; }
#notice td { height: 45px; border-bottom: 1px dotted #999; }
/* #notice td:nth-child(2) { text-align: left; } */
#notice td:not(:nth-child(2)) { text-align: center; }
#notice td div { width: 804px; 
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; }
#noticeSearch { display: flex; 
                justify-content: end;
                margin-top: 15px; }
#searchBox { width: 222px; height: 22px; 
             padding-left: 12px;
             border: 1px solid #000; 
             border-radius: 10px; 
             background: #fefced; }
#searchBtn { width: 90px; height: 22px;
             border: 1px solid #999; 
             border-radius: 10px; 
             background: linear-gradient(#5dabf6 50%, #3989da 50%); 
             color: #fff; }
#pageControl { margin: 35px 0; text-align: center; }
#pageControl a { margin: 0 15px; color: #333; }